<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Image</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
  <!-- use theme_variable -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-{{color_theme2}} justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if lang == 'tr' %}
        <a class="nav-link" href="{{url_for('logout')}}">Çıkış</a>
        {% else %}
        <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
        {% endif %}

      </li>
    </ul>
  </nav>
  <!-- Use pagination system to let user be able to navigate accordingly. -->
  <form action="" method="POST">
    <div class=" row g-2">
      <div class="col-xl text-center mt-5">
        <canvas id="canvas" width=800 height=640 style="background: url('{{image_path}}');background-size: cover"></canvas>
        <div class="mt-4">
          <p class="d-none" id="get_id">{{image_id}}</p>
          <p class="d-none" id="get_limit">{{limit}}</p>
          <p class="d-none" id="get_lang">{{lang}}</p>
          {% if lang == 'tr' %}
          <button class="btn btn-outline-{{color_theme2}} rounded d-none" id="btnPrev">Önceki Sayfa</button>
          {% else %}
          <button class="btn btn-outline-{{color_theme2}} rounded d-none" id="btnPrev">Prev</button>
          {% endif %}


          <button class="btn btn-{{color_theme2}} rounded-circle" id="btn1">1</button>
          <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn2">2</button>
          <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn3">3</button>
          <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn4">4</button>
          <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn5">5</button>
          <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn6">6</button>
          <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn7">7</button>
          <!-- <button class="btn btn-outline-{{color_theme2}} rounded-circle" id="btn8">8</button> -->

          {% if lang == 'tr' %}
          <button class="btn btn-outline-{{color_theme2}} rounded " id="btnNext">Sonraki Sayfa</button>
          <input type="submit" value="Gönder" class="btn btn-success  btn-lg d-none" id="submit">
          {% else %}
          <button class="btn btn-outline-{{color_theme2}} rounded" id="btnNext">Next</button>
          <input type="submit" value="Submit" class="btn btn-success btn-lg  d-none" id="submit">
          {% endif %}


        </div>
      </div>
      <div class="col-xl">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Button koy ve 1'den 4'e kadar seçenekler olsun -->
          <div class="carousel-inner">
            <div class="carousel-item active mt-5" id="1">
              {% for question in range_questions %}
              <div class="row">

                {% if lang == "tr" %}
                <div class="col-sm-2 text-white text-center big-text"><b> {{question[2]}}</b></div>
                {% else %}
                <div class="col-sm-2 text-white text-center big-text"><b> {{question[0]}}</b></div>
                {% endif %}

                <div class="col-sm-8 range-wrap">
                  <input type="range" name="{{question[1] | lower}}" class="form-range " min="-10" max="10" step="1" id="{{question[1]|lower}}">
                  <output class="bubble"></output>
                </div>
                {% if lang == 'tr' %}
                <div class="col-sm-2 text-white text-center big-text"><b>{{question[3]}}</b></div>
                {% else %}
                <div class="col-sm-2 text-white text-center big-text"><b>{{question[1]}}</b></div>
                {% endif %}

              </div>
              {% endfor %}
            </div>
            <div class="carousel-item mt-4" id="2">
              {% for item in questions_multiple_answers[:5] %}
              <div class="row">
                <!-- if item 4 is true -->
                {% if item[3] %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}

                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}


                  </div>
                </div>
                {% endif %}


              </div>
              {% endfor %}
            </div>
            <div class="carousel-item mt-4" id="3">
              {% for item in questions_multiple_answers[5:10] %}
              <div class="row">
                <!-- if item 4 is true -->
                {% if item[3] %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}
                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            <div class="carousel-item mt-4" id="4">
              {% for item in questions_multiple_answers[10:15] %}
              <div class="row">
                <!-- if item 4 is true -->
                {% if item[3] %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}
                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>
                </div>
                {% else %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}

                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            <div class="carousel-item mt-4" id="5">
              {% for item in questions_multiple_answers[15:20] %}
              <div class="row">
                <!-- if item 4 is true -->
                {% if item[3] %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}

                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>
                </div>
                {% else %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}

                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>
                </div>
                {% endif %}


              </div>
              {% endfor %}
            </div>
            <div class="carousel-item mt-4" id="6">
              {% for item in questions_multiple_answers[20:] %}
              <div class="row">
                <!-- if item 4 is true -->
                {% if item[3] %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}
                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>

                </div>
                {% else %}
                <div class="d-flex justify-content-center flex-column">
                  <div class="row mt-4">
                    {% if lang == 'tr' %}
                    <h4 class="text-white">{{item[5]}}-) {{item[0]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[2]}}</strong></p>
                    {% else %}
                    <h4 class="text-white">{{item[5]}}-) {{item[3]}}</h4>
                    <p class="lead mt-1 text-white text-white"><strong>{{item[1]}}</strong></p>
                    {% endif %}

                  </div>
                  <div class="d-flex justify-content-evenly">
                    {% if lang == 'tr' %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Çok Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Kötü</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Orta</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">İyi</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Çok İyi</label>
                    {% else %}
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}1" autocomplete="off" value="1" />
                    <label class="btn btn-outline-{{color_theme}}   flex-grow-1" for="{{item[0]}}1">Very Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}2" autocomplete="off" value="2" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}2">Unsatisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}3" autocomplete="off" value="3" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}3">Neutral</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}4" autocomplete="off" value="4" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}4">Satisfied</label>
                    <input type="radio" class="btn-check" name="{{item[0]}}" id="{{item[0]}}5" autocomplete="off" value="5" />
                    <label class="btn btn-outline-{{color_theme}}  flex-grow-1" for="{{item[0]}}5">Very Satisfied</label>
                    {% endif %}
                  </div>
                </div>
                {% endif %}


              </div>
              {% endfor %}
            </div>
            <!-- At least 1 element should be selected for selecting either positive or negative sample. If not alert the user. -->
            <div class="carousel-item mt-4 container" id="7">
              <div class="row align-items-center mt-5 justify-content-center">
                {% if lang == 'tr' %}
                <h3 class="text-white mb-4">Lütfen mevcut negatif öğeyle ilişkilendirdiğiniz etiketi seçin</h3>
                {% else %}
                <h3 class="text-white mb-4">Please select the tag you have associated with current negative item</h3>
                {% endif %}
                {% for item in negatives %}
                <div class="col-2 neg d-flex mb-3">
                  {% if lang == 'tr' %}
                  <input type="radio" class="btn-check flex-fill" name="negatives" value="{{item[2]}}neg" id="{{item[2]}}0">
                  <label class="btn btn-outline-{{color_theme}} flex-fill" for="{{item[2]}}0">{{item[2]}}</label>
                  {% else %}
                  <input type="radio" class="btn-check flex-fill" name="negatives" value="{{item[1]}}neg" id="{{item[1]}}0">
                  <label class="btn btn-outline-{{color_theme}} flex-fill" for="{{item[1]}}0">{{item[1]}}</label>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
              <div class="row align-items-center mt-5 justify-content-center">
                {% if lang == 'tr' %}
                <h3 class="text-white mb-4">Lütfen mevcut pozitif öğeyle ilişkilendirdiğiniz etiketi seçin</h3>
                {% else %}
                <h3 class="text-white mb-4">Please select the tag you have associated with current positive item</h3>
                {% endif %}

                {% for item in positives %}
                <div class="col-2 d-flex mb-3">
                  {% if lang == 'tr' %}
                  <input type="radio" class="btn-check flex-fill" name="negatives" value="{{item[2]}}neg" id="{{item[2]}}0">
                  <label class="btn btn-outline-{{color_theme}} flex-fill" for="{{item[2]}}0">{{item[2]}}</label>
                  {% else %}
                  <input type="radio" class="btn-check flex-fill" name="negatives" value="{{item[1]}}neg" id="{{item[1]}}0">
                  <label class="btn btn-outline-{{color_theme}} flex-fill" for="{{item[1]}}0">{{item[1]}}</label>
                  {% endif %}

                </div>
                {% endfor %}
              </div>
              <div class="d-grid justify-content-center align-items-center">
                <div class="image_margin">
                  {% if lang == 'tr' %}
                  <button class="btn btn-success btn-lg" id="positives">Pozitif Örnek Ekle</button>
                  <button class="btn btn-danger btn-lg" id="negatives">Negatif Örnek Ekle</button>
                  <button class="btn btn-info btn-lg" id="clear">Temizle</button>
                  <button class="btn btn-warning btn-lg" id="showall">Bütün Örnekleri Göster</button>
                  {% else %}
                  <button class="btn btn-success btn-lg" id="positives">Positive Sample</button>
                  <button class="btn btn-danger btn-lg" id="negatives">Negative Sample</button>
                  <button class="btn btn-info btn-lg" id="clear"> Clear</button>
                  <button class="btn btn-warning btn-lg" id="showall">Show All Samples</button>
                  {% endif %}
                </div>
                <div class="row mt-5">
                  {% if lang == "tr" %}
                  <div class="col-sm-2 text-white text-center big-text"><b>Yürünemez</b></div>
                  {% else %}
                  <div class="col-sm-2 text-white text-center big-text"><b>Not Walkable</b></div>
                  {% endif %}

                  <div class="col-sm-8 range-wrap">
                    <input type="range" name="walkable" class="form-range " min="-10" max="10" step="1" id="walkable">
                    <output class="bubble"></output>
                  </div>
                  {% if lang == 'tr' %}
                  <div class="col-sm-2 text-white text-center big-text"><b>Yürünebilir</b></div>
                  {% else %}
                  <div class="col-sm-2 text-white text-center big-text"><b>Walkable</b></div>
                  {% endif %}
                </div>
              </div>

            </div>

            <!-- Walkability burada çok saçma gözüküyor -->
            <!-- <div class="carousel-item mt-4 container" id="8">
              <div class="col-sm-8 range-wrap">
                <div class="row mh-100">
                  <div class="col-sm-2 text-white text-center "><b>Not Walkable</b></div>
                  <div class="col-sm-8 range-wrap ">
                    <input type="range" name="1" class="form-range " min="-10" max="10" step="1" id="1">
                    <output class="bubble"></output>
                  </div>
                  <div class="col-sm-2 text-white text-center"><b>Walkable</b></div>
                </div>
              </div>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="/static/js/script.js"></script>
</body>

</html>